
/********************************* DISTRIBUCION ****************************/

BODY{
	font-family:Arial, Verdana, Tahoma, Geneva;
	margin:0px;
	font-size:10pt;
	background-color : white;
}

H1, H2, H3, H4, H5, H6{	
	cursor:default;
	font-family:Arial, tahoma, Verdana, Geneva, Helvetica, sans-serif;
}

H1{	
	margin-top:0em;
	margin-bottom:0.5em;
	height :50px;

	background-image : url(../img/ventasWeb/bgBarraTituloH1.gif);
	background-repeat : no-repeat;
	background-position : center;
}

H4{	
	margin-top:0em;
	margin-bottom:0.5em;
	height :35px;
	line-height : 22px;

	background-image : url(../img/ventasWeb/bgBarraTituloH4.gif);
	background-repeat : no-repeat;
	background-position : center;
}

TABLE{
	border-collapse : collapse;
}

 .conAplicacion{
	width : 100%;
	height : 100%;
	font-size:10pt;
}

.Region1{
	height : 80px;
	vertical-align : middle;
}

.Region2{
	height : 5px;	
	font-size : 11px;
	font-weight : bold;
	vertical-align : middle;
	text-indent : 10px;	
}

.Region3{
	width : 155px;	
	vertical-align : top;
	text-align : center;
	background-color : white;
	border-right: solid 2px gray;
}
/*********************************/
/**** REGION 2 BARRA *******/
/*********************************/
.Region2 a{
	text-decoration : none;
	color:white
}

/*********************************/
/**** REGION 3 NUEVOS *****/
/*********************************/
.Region3 .Nuevos{
	width : 95%;
	margin-top : 10px;
	font-size:8pt;
	border:1px solid green;
}
.Region3 .Nuevos a{
	text-decoration : none;
	color:black
}

.Region3 .Nuevos th{
background-color: green;
color:white;
}

.Region3 .Nuevos td{
background-color: lightyellow;
color:black;	
text-indent : 3px;
}



.Region4{
	vertical-align : top;
	background-color : white;
	background-image : url(../img/ventasWeb/bgCentra.gif);
}

/***********************************************/
/************  MENU SUPERIOR  ************/
/***********************************************/
.MenuSuperior{
	position:absolute;
	top:24px;
	left:433px;
	width:450px;
	height : 30px;
	padding:0px;
	margin:0px;
	font-weight:bold;
	font-family:Arial;
	font-size:10pt;
	border: 1px solid black;
	background-color:white;
}

.MenuSuperior td{
	font-size : 8pt;
	font-weight : normal;
	text-align : left;
	border-spacing : 5px;
	caption-side : top;
	xwidth : 100px;
	text-indent: 10px;
	background-image:url(../img/ventasWeb/vinTrianguloNegro.gif);
	background-repeat:no-repeat;
}

.MenuSuperior a{
	color:black;
	text-decoration:none
}

.MenuSuperior a:active{
	color:red;	
	text-decoration:none;	
}

.MenuSuperior a:hover{
	color:red;
	text-decoration:none;
}


/***********************************************/
/************  MENU IZQUIERDO ************/
/***********************************************/

.TablaMenu{
	margin-top:5px;
	margin-bottom:11px;
	width:95%;	
	border:solid 0px red;	
}

.TablaMenu tr{	
	font-size:8pt;	
	font-weight:normal;
	color:white;
	xborder:solid 1px blue;

}

.TablaMenu th{
	
}


.TablaMenu td{
	font-size:8pt;	
	font-weight:bold;
	text-indent:7px;
	background-position:top left;
	background-repeat:no-repeat;
	border:0px;

}

.TablaMenu .Menu3erNivel{
	font-weight:normal;		
	text-indent:6px;
}

.TablaMenu .Menu4oNivel{
	font-weight:normal;		
	text-indent:12px;
}


.TablaMenu .Pintado{
	font-size:8pt;
}
/***********************************************/
/******  PROCMCIONES    MENU************/
/***********************************************/
.Region3 .Promociones{
	width : 95%;
	margin-top : 10px;
	font-size:8pt;
	border:1px solid red;
}
.Region3 .Promociones a{
	text-decoration : none;
	color:black
}

.Region3 .Promociones th{
background-color: coral;
color:white;
}

.Region3 .Promociones td{
background-color: lightyellow;
color:black;	
text-indent : 3px;
}

/***********************************************/
/*************  PROMOCIONES    ************/
/***********************************************/
.Region4 .Promociones{
	xwidth : 80%;
	margin-top : 10px;
	font-size:12pt;
	border:1px solid gray;
}

.Region4 .Promociones a{
	text-decoration : none;
	color:black
}

.Region4 .Promociones th{
background-color: gray;
color:white;
}

.Region4 .Promociones td{
background-color: white;
color:black;	
text-indent : 3px;
font-size : 8pt;
text-align : center;
width : 129px;
}
/***********************************************/
/*************  NUEVOS    ************/
/***********************************************/
.Region4 .Nuevos{
	xwidth : 80%;
	margin-top : 10px;
	font-size:12pt;
	border:1px solid gray;
}

.Region4 .Nuevos a{
	text-decoration : none;
	color:black
}

.Region4 .Nuevos th{
background-color: gray;
color:white;
}

.Region4 .Nuevos td{
background-color: white;
color:black;	
text-indent : 3px;
font-size : 8pt;
text-align : center;
}

/***********************************************/
/*************  CONTENEDOR    *************/
/***********************************************/
.Contenedor{
	width : 630px;
	margin-left:25px;
	margin-right:180px;
	margin-top:20px;
	font-size : 10pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align : center;
	xborder:1px solid red;
}

.Contenedor P{
	text-align : left;
	color : black;
}

.conProducto{
	width : 85%;
	margin:25px;
	font-size : 10pt;
	font-family: Arial, Helvetica, sans-serif;
}

.conProducto ul{
	margin-bottom : 40px;
}

.tblPuntos{
	margin-top: 2em;
	font-size: 10pt;
	margin-bottom: 1em;	
	text-align : left;
}

/***********************************************/
/********************  PIE    *******************/
/***********************************************/
.Pie{
	margin-left:3%;
	margin-right:3%;
	text-align:center;
	margin-top:6em;
	margin-bottom:0.5em;
	font:normal 8pt/2em Arial;
	cursor:default;
	border-top : 2px solid gray; 
}

.Pie a{
	text-decoration:none;
	font-weight:normal;
}


/************************************* COLOR ********************************/

BODY{
	color:#000;
}

H1, H2, H3, H4, H5, H6{	
	color:white;
	text-align : center;

}

H2{
	
}

TABLE{

}

 .conAplicacion{
 
}

.Region1{
	background-image : url(../img/ventasWeb/bgGradienteAzul.jpg);
}

.Region2{

	background-color : black;
	color:white;
}

.Region3{

}

.Region4{
	text-align : center;
}

/***************************************/
/********* TABLA MENU *************/
/***************************************/
.TablaMenu th{
background-color : black;
line-height : 16px;
}

.TablaMenu td{
padding : 1px;
	
}

.TablaMenu a{
	color:white;
	background-color:#069;			
	text-decoration:none;
	display: block;
	font-family:arial, sans serif;
	border: none;	
	height : 18px;
	line-height : 17px;
	text-align:left;
	font-size:8pt;
	text-indent:5px;	
	}

.TablaMenu a:active{
	color:white;
}

.TablaMenu a:hover{	
	color:white;
	background: #c00;
}

.TablaMenu .Menu3erNivel{
	background-color:green;
	color:red;
}

.TablaMenu td{

}
/***************************************/

/***************************************/
/*****************PIE ******************/
/***************************************/
.pie{
	border-top:3px solid #ddd;
}

.pie a:link, .pie a:visited{
	color:#000;
}

.pie a:active{
	color:red;
}

.pie a:hover{
	color:red;
}
/***************************************/
/*********** OFICINAS ***************/
/***************************************/
.Informacion{
	width: 70%;
	border : 1px solid navy;
	margin-bottom : 3em;
	font-size : 10pt;
	background-color : white;
	}


.Informacion th{
background-color : lightblue;
color:navy;
}

#Carro{
	background-image : url(../img/ventasWeb/bgCarro.gif);
	background-repeat : no-repeat;
	background-position : 95%;
}

/******************************** CARRO COMPRAS ***************************/

.conCarroCompra{
	font-size : 10pt;
}

.conCarroCompra P{
	color : red;
	line-height : 14px;
	width:600px;
}
.conCarroCompra H5{
	font-size:15pt;
	color : blue;
	width:600px;
}


.tblCarroCompra{
	border-collapse : separate;
}

.tblCarroCompra TH{
	background-color : #aaa;
	color : black;
	font-size:10pt;
}

.tblCarroCompra .Texto{
	font-size:8pt;
}

.tblCarroCompra TD{
	background-color : #ddd;
	color : black;
	font-size:10pt;	
}

.tblCarroCompra .Foto{
	text-align : center;
	width : 11%;
}

.tblCarroCompra .Cantidad{
	text-align : center;
	width : 14%;
	font-size:8pt;	
}

.tblCarroCompra .Precio{
	text-align : center;
	width : 14%;
	font-size:9pt;	
}

.tblCarroCompra .Producto{
	width : 27%;
	margin : 50px;
}

.tblCarroCompra .Descripcion{
	width : 17%;
}

.tblCarroCompra .Total{
	background-color : #eee;
	color : red;
	font-weight : bold;
	text-align : center;
	font-size:9pt;	
}

.tblCarroCompra .Borrar{
	text-align : center;
	width : 14%;
}

.tblInformacionComprador{
	width: 70%;
	border : 1px;
	margin-bottom : 3em;
	font-size : 10pt;
	background-color : transparent;
	text-align : left;
}

.tblInformacionComprador TD{
line-height : 22px;

}

.tblInformacionComprador .Nombre{
	color : black;
	font-weight : bold;
	border-width : medium;
}
.tblInformacionComprador .Correo{
	color : black;
	font-weight : bold;
}
.tblInformacionComprador .Confirmacion{
	color : black;
	font-weight : bold;
}

.tblAccionCarro{
border-collapse : separate;
}

.tblAccionCarro TD {
text-align : center;
width : 20%;
}

.boton{
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#069;
        border:0px;
        height:20px;
		border-right : solid 2px gray;
		border-bottom :  solid 2px gray;
		padding : 2px;
       }

.tblComprar{
	position : absolute;
	top : 200px;
	left : 680px;
	font-size : 10pt;
}	   

.tblComprar th{
	text-align : right;
}

.tblComprar td{
	text-align : center;
}
